<div id="content-wrapper">
      <div class="container-fluid">
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">我的项目</div>
                <span>10</span>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">查看所有项目</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">我的任务</div>
                <span>10</span>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">查看所有任务</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">我的BUG</div>
                <span>10</span>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">查看所有BUG</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">我的需求</div>
                <span>10</span>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">查看所有需求</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>待处理事务/已办事项
          </div>
          <div class="card-body">
            <div class="row">
              <div class ="col-xl-4 col-sm-7 mb-4">
                <a href="#">我的项目<span class="elements-on-right">(<%= @current_user.projects.size %>)</span></a>
              </div>
              <div class ="col-xl-4 col-sm-7 mb-4">
                <a href="#">我的待办<span class="elements-on-right">(111)</span></a>
              </div>
              <div class ="col-xl-4 col-sm-7 mb-4">
                <a href="#">我的申请<span class="elements-on-right">(<%= @current_user.projects.approving.size %>)</span></a>
              </div>
            </div>
             <hr>
             <div class="row">
             <div class ="col-xl-4 col-sm-7 mb-4">
               <a href="#">已关闭的项目<span class="elements-on-right">(111)</span></a>
             </div>
             <div class ="col-xl-4 col-sm-7 mb-4">
               <a href="#">后续可以继续补充xxxx<span class="elements-on-right">(111)</span></a>
             </div>
           </div>
            <hr>
          </div>
        </div>


        <!-- 快捷入口-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>快捷入口
          </div>
          <div class="card-body">
            <div class="row">
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><i class="fas fa-user-cog fa-fw index-quick-entry-icon"></i></p>
                  <span>流程发起</span>
                </a>
              </div>
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><i id="user-index-icon" class="fas fa-user-cog fa-fw index-quick-entry-icon"></i></p>
                  <span>变更流程</span>
                </a>
              </div>
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><i id="user-index-icon" class="fas fa-user-cog fa-fw index-quick-entry-icon"></i></p>
                  <span>用户管理</span>
                </a>
              </div>
            </div>
          </div>
        </div>


        <!-- 项目统计-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>项目统计
          </div>
          <div class="card-body">
            <div class="row">
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><h3 class="index-project-statistics-icon">1</h3></p>
                  <span>正在进行中</span>
                </a>
              </div>
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><h3 class="index-project-statistics-icon">10</h3></p>
                  <span>已完成 年/单位</span>
                </a>
              </div>
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><h3 class="">1000</h3></p>
                  <span>xxxx</span>
                </a>
              </div>
              <div class ="col-xl-1 col-sm-4 mb-1">
                <a href="#">
                  <p><h3 class="">5000</h3></p>
                  <span>xxxx</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        

        <!-- 人员成本统计-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>人员成本统计
          </div>
          <div class="card-body">
            <div class="row">
              <div style='width:30%;float:left;height:500px;'>
                <div>
                   <H5><b>项目列表</B></h5>
                </div>
                <div class ="col-xl-12 col-sm-24 mb-12">
                  <span><b>我的项目</B></span>
                  <button type="button" class="elements-on-right btn-primary ">
                   搜索
                  </button>
                  <input class="col-xl-4 col-sm-1 mb-1 elements-on-right"></input>
                </div>
                </br>
                </br>   
                <div style='width:49%;float:left;height:420px;'>
                  <a href="#">智能云项目</a></br></br>
                  <a href="#">OPPO</a></br></br>
                  <a href="#">智能云项目</a></br></br>
                  <a href="#">智能云项目</a></br></br>
                  <a href="#">智能云项目</a></br>
                </div>
                <div style='width:1px;border:0px;float:left;height:420px;'><!--这个div模拟一条红色的垂直分割线--></div>
                <div style='width:50%;float:left;height:420px;'>
                  <div>
                  <span class="elements-on-right">本月成本总数</span></br>
                  <span class="elements-on-right" style="font-size:30px">100000</span></br></br>
                  <span class="elements-on-right">&nbsp;&nbsp;同比上月</span><span class="elements-on-right" style="color:#008000">↑10%</span>
                  </div>
                  </br>
                  </br>
                  </br>
                  <div>
                  <span class="elements-on-right">本周成本数量</span></br>
                  <span class="elements-on-right" style="font-size:30px">100000</span></br></br>
                  <span class="elements-on-right">&nbsp;&nbsp;同比上周</span><span class="elements-on-right" style="color:#f00">↓10%</span>
                  </div>
                </div>
              </div>
              <div style='width:1px;border:1px solid #DCDCDC;float:left;height:500px;'><!--这个div模拟一条垂直分割线--></div>
              <div style='width:60%;float:left;height:500px;'>
                
              <div class="card-body">
                  <div class="elements-on-right row">
                    <a href="#">本周</a>&nbsp;&nbsp;&nbsp;
                    <a href="#">本月</a>&nbsp;&nbsp;&nbsp;
                    <a href="#">季度</a>&nbsp;&nbsp;&nbsp;

                    
                    
                    <%= datetime_local_field(:user, :graduation_day) %>
                    
                  
                    </div></br></br></br>

                  <div>
                    <span>近一周数据统计</span>
                  </div> </br>
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="myAreaChart" width="635" height="320" class="chartjs-render-monitor" style="display: block; width: 635px; height: 320px;"></canvas>
                  </div>
                </div>


              
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->


    </div>

