%span.select2.select2-container.select2-container--default.select2-container--below{dir:"ltr", "data-select2-id": "2", style: "width: 100%;"}
  %span.selection
    %span.select2-selection.select2-selection--single{role: "combobox", "aria-haspopup": "true", "aria-expanded": "false", tabindex: "0", "aria-labelledby": "select2-tmuv-container"}
      %span.select2-selection__rendered{id: "select2-tmuv-container", role:"textbox", "aria-readonly": "true", title: "Alabama" } Alabama
    %span.select2-selection__arrow{role: "presentation"}
      %b{role: "presentation"}
  %span.dropdown-wrapper{"aria-hidden":"true"}