<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
    <i class="fas fa-chart-area"></i>修改个人密码
    </div>
    <div class="card-body">
    <form>
    
    <div class="form-group">
    <img src="/assets/a3" alt="a3" />
	  <p><button type="button" class="btn btn-w-m btn-info">上传头像</button></p>

    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">用户名</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入用户名">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">旧密码</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入旧密码">
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">新密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入新密码">
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">确认密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入确认密码">
    </div>
    <p><button type="button" class="btn btn-w-m btn-info">提交</button></p>
  
   
  </form>
    </div>
  </div>
</div>