%section.content
  .row
    .col-md-12
      .box.box-default
        .box-header.with-border
          %h3.box-title 添加客户用户
        = form_for @customer, html: {class: "form-horizontal"} do |f|
          .box-body
            .box-body.col-md-6
              .form-group
                = f.label :单位名称 , class: 'col-sm-3 control-label'
                .col-sm-9
                  = f.text_field :name, class: "form-control"
          .box-footer
            = f.submit "保存", class: 'btn btn-primary pull-right'