<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
    <i class="fas fa-chart-area"></i>共享
    </div>
    <div class="card-body" >

    <form>
    <div class="form-group">
      <label for="exampleInputEmail1">共享链接：</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="共享链接">
    </div>
    
    <button type="submit" class="btn btn-success">共享</button>
  </form>
      
    
    </div>
  </div>
</div>