<div id="content-wrapper">

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    我的申请</div>
  <div class="card-body">

    <civ class="row">
      <span>项目名称：<input type="search" class="form-control form-control-sm"  aria-controls="my_approve"  placeholder="项目名称"></span>
      <button type="button" class="elements-on-right btn-primary ">
      搜索
      </button>
    </div>

    <%= render 'list', projects: @projects %>

    <!--分页-->
    <div class="row elements-on-right">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">上一页</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
  </nav>
  </div>

</div>