<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
    <i class="fas fa-chart-area"></i>文件上传
    </div>
    <div class="card-body" >
    <form>
    
    <div class="form-group">
      <label for="exampleInputFile">文件上传</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
 
    <button type="submit" class="btn btn-success">上传</button>
  </form>
    
    </div>
  </div>
</div>