<div id="content-wrapper">
      <div class="container-fluid">
        
        


        <!-- 快捷入口-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>基本信息
          </div>
          <div class="card-body">
          <form>

          <div class="form-group">
            <label for="exampleInputPassword1">单位名称</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入单位名称">
          </div>
      
          <div class="form-group">
            <label for="exampleInputPassword1">项目名称</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入项目名称">
          </div>
      
          <div class="form-group">
            <label for="exampleInputPassword1">联系人</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入联系人">
          </div>
      
          <div class="form-group">
      
            <label for="exampleInputPassword1">客户电话</label></dr>
            <div class="form-inline">
              <input type="password" class="form-control col-md-6 col-xs-4" id="exampleInputPassword1" placeholder="请输入客户手机号码">
              <input type="password" class="form-control col-md-6 col-xs-4" id="exampleInputPassword1" placeholder="请输入客户座机号码">
            </div>  </br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入客户其它号码">
          </div>
      
          <div class="form-group">
            <label for="exampleInputPassword1">邮箱地址</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入邮箱地址">
          </div>
      
          <div class="form-group">
            <label for="exampleInputPassword1">客户职位</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入客户职位">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">希望安排的时间</label>
            <%= datetime_local_field(:user, :graduation_day) %>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">支持内容</label>
            <textarea class="form-control" rows="6" placeholder="请输入内容..."></textarea>
          </div>
      
          <div class="form-group">
            <label for="exampleInputPassword1">支持地址</label>
            <textarea class="form-control" rows="3" placeholder="请输入支持地址..."></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">建议派遣工程师</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入建议派遣工程师">
          </div>

          <div class="form-group">
            <label class="checkbox-inline">
             <span>事项：</span>
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> 售前服务
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> 售后服务
            </label>
          </div>

          

        

          <div class="form-group">
            <label for="exampleInputPassword1">指定技术负责人审批</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入指定技术负责人审批">
          </div>
      
      
          <p><button type="button" class="btn btn-w-m btn-info">下一步</button>&nbsp;<button type="button" class="btn btn-w-m btn-info">提交</button></p></br></br>
          
        </form>
          </div>
        </div>

      
      </div>
      <!-- /.container-fluid -->


    </div>

