development:
  address: 'smtp.exmail.qq.com'
  port: 465
  domain: 'qq.com'
  user_name: 'your.form@example.com'
  password: 'yourP@assw0rd'
  authentication: 'plain'
  ssl: true
production:
  address: 'smtp.exmail.qq.com'
  port: 465
  domain: 'qq.com'
  user_name: 'your.form@example.com'
  password: 'yourP@assw0rd'
  authentication: 'plain'
  ssl: true