// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_avater_input {
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.profile_avater {
  height: 80px;
  width: 80px;
  margin: 0;
  overflow: hidden;
  font-size: 0;

}
